[submodule "ScapesEngine"]
    path = ScapesEngine
    url = https://github.com/Tobi29/ScapesEngine
    branch = master
[submodule "ScapesEngineAndroid"]
    path = ScapesEngineAndroid
    url = https://github.com/Tobi29/ScapesEngineAndroid
    branch = master
